footer(id="footer", style="height:50px;position:fixed;bottom:0;left:0;right:0;z-index:1000;background-color:#323232")
  p(style="color:white;top:15px;left:60px;position:relative") &copy; Some Company 2012