div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      ul.nav.pull-left(style="padding-top:8px;")
        li(style="padding-right:10px;")
          div(id="symbol")⊫
        li
          form.navbar-search.pull-left(action='/searchRating', method='get', enctype='multipart/form-data', ng-show="loggedIn")
            input.search-query.span2(id="searchratings", name='restaurant', type="text", placeholder="Search By Restaurant")
        li(style="padding-left:5px;")
          a(ng-show="loggedIn", href="/searchRating") Search
        li
          a(ng-show="loggedIn", href="/addRating") Add Rating
      ul.nav.pull-right(style="padding-top:8px;")
        li
          a(ng-show="loggedIn", href="/") Sign Out