extends ../layout

block content
  div.form-horizontal.span12(style="position:relative;top:100px")
    div.span4
    div.well.span4
      div(style="padding-left:60px")
        p
          label(for='username') User Name:
          input(type='text', ng-model="form.username", id="username")
        p
          label(for='password') Password:
          input(type='password', ng-model="form.password", id="password")
        p
          label(for='role') Role:
          input(type='text', ng-model="form.role", id="role")
        p
          button.btn.btn-primary(ng-click='submitUser()') Add
    div.span4