extends ../layout

block content
  form.form-horizontal.well(action='/searchRating', method='get', enctype='multipart/form-data', style="position:relative;top:60px;")
    div.control-group
      label.control-label(for="restaurant") Restaurant:
      div.controls
        input(type='text', id='restaurant', name='restaurant', ng-model='restaurant', style='width:400px')
    div.control-group
      label.control-label(for="date") Review Date:
      div.controls
        datepicker(id='date', ng-model="reviewdate", show-weeks="showWeeks",starting-day="1",min="minDate",max="'2015-06-22'")
    div.control-group
      label.control-label(for="reviewer") Reviewer:
      div.controls
        select(ng-model="reviewer", ng-options="c.username for c in users")
    div.control-group
      label.control-label(for="rating") Rating:
      div.controls
        div.btn-group
          button.btn(ng-repeat="value in radioModelButtons", type="button", ng-model="radio.model", btn-radio="value"){{value}}
    div.control-group
      label.control-label(for="notes") Notes:
      div.controls
        input(type='text', ng-model='notes')
    div(style="margin:10px")
      button.btn.btn-primary.btn-small(id="search", type="button", ng-click="search()") Search
      &nbsp;&nbsp;
      button.btn.btn-primary.btn-small(id="reset", type="button", ng-click="reset()") Reset
    div(style="width:100%")
      div.gridStyle(ng-grid="gridOptions")