extends layout

block content
  div.row.span12(style="top:100px;position:relative")
    div.span4
    div.well.span4
      form(action='/signin', method='post', style="padding-left:60px")
        input(type='hidden', name='redir', value=redir)
        p
          label(for='login') User ID:
          input(type='text', name='login', id='login')
        p
          label(for='password') Password:
          input(type='password', name='password', id='password')
        p
          button.btn.btn-primary(type='submit') Sign In
          - if (message)
            label.login= message
    div.span4