extends ../layout

append head
  script(src='/javascripts/editrating.js')

block content
  form.form-horizontal.well(action='/ratings', method='post', enctype='multipart/form-data', style="position:relative;top:60px")
    include rating_form
      p(style="padding-top:20px;")
        input(type='hidden', name='_method', value='PUT')
        input(type='hidden', id='aID', name='id', value=id)
        button.btn.btn-primary.btn-small(type='submit') Save