extends ../layout

append head
  script(src='/javascripts/newrating.js')

block content
  form.form-horizontal.well(action='/ratings', method='post', enctype='multipart/form-data', style="position:relative;top:60px")
    include rating_form
      p(style="padding-top:20px")
         button.btn.btn-primary.btn-small(type='submit') Save