extends ../layout

append head
  script(src='/javascripts/viewrating.js')

block content
  form.form-horizontal.well(action='/ratings', method='post', enctype='multipart/form-data', style="position:relative;top:60px")
    include rating_form