body {
}

.navbar .nav>li>a:hover {
  background-color: transparent;
  color: #f5f5f5;
  text-decoration: none;
}

#symbol {
color: white;
margin:0 auto;
text-shadow: 0 1px 0 #fff;
font: normal 50px "Lucida Sans Unicode", "Lucida Grande", "Arial Unicode MS", sans-serif;
line-height: 40px;
text-align: center;
}

.navbar .nav>li>a {
  float: none;
  padding: 15px 15px 15px;
  color: #848182;
  text-decoration: none;
  text-shadow: 0 1px 0 #323232;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 80%;
    height: 260px;
}

.navbar-inner {
  background: #323232; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #323232 0%, #323232 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#323232)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #323232 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #323232 0%,#323232 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #323232 0%,#323232 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #323232 0%,#323232 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#323232',GradientType=0 ); /* IE6-8 */
  min-height:50px;
}

.login {
	font-weight: bold;
	position: relative;
	top: -20px;
	left: 80px;
}

#div-notes {
  overflow:scroll;
  height:200px;
  width:600px;
  background-color:white;
  border:1px;
  padding:4px;
  border-style:solid;
  border-color:#CCCCCC;
  border-radius:3px;
}

[contenteditable] {
  border: 1px solid black;
  background-color: white;
  min-height: 20px;
}

.ng-invalid {
  border: 1px solid red;
}